
.pages {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 50px;
}

.pages h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  font-size: 40px;
}


* {
    scrollbar-width: thick;
    scrollbar-color: blue orange;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 6px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 6px;
  }




#btn-form {
    margin-top: 30px;
}

@media only screen and (max-width:500px) {
    #btn-form {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #btn-form button {
        height: 40px;
    }

    .pages h2 {
      font-size: 35px;
      padding-top: 0;
    }

}